
<div class="container-sm">
    <div class="row">
        <div class="col-xs-12 col-md-6 mt-4">
            <a class="link full-width" href="#live">
                <div class="card background-secondary home-tile">
                    <img src="images/live.png" class="mx-auto mt-2"></img>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title text-light">Live Data</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text text-light">View live data from the connected iTracker</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 mt-4">
            <a class="link full-width" href="#logs">
                <div class="card background-secondary home-tile">
                    <img src="images/logs.png" class="mx-auto mt-2"></img>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title text-light">Logs</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text text-light">Download logs from the connected iTracker</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 mt-4">
            <a class="link full-width" href="#analytics">
                <div class="card background-secondary home-tile">
                    <img src="images/chart.png" class="mx-auto mt-2"></img>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title text-light">Analytics</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text text-light">View graphed data from the connected iTracker</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 mt-4 mb-4">
            <a class="link full-width" href="#settings">
                <div class="card background-secondary home-tile">
                    <img src="images/cog.png" class="mx-auto mt-2"></img>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title text-light">Settings</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text text-light">Edit settings for the connected iTracker</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
