
/*Colors*/

.background {
    background-color: #222;
}

.background-secondary {
    background-color: #444;
}

.eastech-blue {
    background-color: #006ec7;
}

.text-eastech-blue {
    color: #006ec7;
}

.text-gray {
    color: #DFDFDF;
}


/* Size and positioning */
.bottom {
    position: absolute;
    bottom: 0;
}

.full-height {
    min-height: 100vh;
}

.full-width {
    width: 100%
}

/* Buttons */
.btn-blue {
    color: #ffffff;
    background-color: #006ec7;
    border-color: #006ec7;
}

.btn-blue-active {
    color: #ffffff;
    background-color: #0062cc;
    border-color: #0062cc;
}

.btn-background {
    color: #ffffff;
    background-color: #222;
    border-color: #222;
}


/* Other Components */
.divider {
    border: 1px solid white;
}

.link {
    display: inline-block;
    text-decoration: none !important;
}


/* Home */

.home-tile {
    height: 250px;
}



/* Logs */

.logs-tile {
    height: 150px;
}

/* Analytics */

.chart {
    height: 60vh !important;
}

@media only screen and (min-width: 450px) {
    .chart {
        height: 400px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .chart {
        height: 600px !important;
    }
}

/* Settings */

.settings-tile-sm {
    height: 130px;
}

.settings-tile-lg {
    height: 170px;
}
